.about-squre {
  min-height: 75vh;
  margin: 5vh 5vw;
  padding: 5vh 5vw;
  background-color: rgb(186, 252, 181);
  border-radius: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    padding: 1rem 0;
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }
}
